<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-x6Ya0CJKI7B8nt1hhSksuIYDhIFMLR0</string>
	<key>GCM_SENDER_ID</key>
	<string>1094314552811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evs.virtual-closet-development</string>
	<key>PROJECT_ID</key>
	<string>virtual-clouseout</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-clouseout.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094314552811:ios:4b6570d019f5450182bdae</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-clouseout-default-rtdb.firebaseio.com</string>
</dict>
</plist>